<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->

  <!-- end Header -->

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->

    <!-- end Dual Card -->
    <!-- Single Card -->

    <!-- end Single Card -->
    <!-- Single Card -->

    <!-- end Single Card -->
    <!-- Single Card -->
    <div nft-chart-card class="md:col-span-2 xl:col-span-1"></div>
    <!-- end Single Card -->
    <!-- Auctions Table -->
    <div nft-auctions-table class="md:col-span-2 xl:col-span-3"></div>
  </div>
</div>

